@using Core.Utilities;

@{
    var user = (ViewContext.Controller as MvcWeb.Controllers._BaseController).CurrentUser;
}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    @RenderSection("seo", required: true)

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @RenderSection("meta", false)
    @RenderSection("head", false)

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1919764041602796'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
</head>

<body class="stretched no-transition">

    <div id="header-notice" class="dark">
        <div class="container text-center header-notice-container copyright-links">
            rssheap goes open source - all contributions are welcome - for more information follow this 
            <a target="_blank" href="https://github.com/mausba/rssheap" class="copyright-links">link</a>
        </div>
    </div>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1919764041602796&ev=PageView&noscript=1" />
    </noscript>

    <div id="wrapper" class="clearfix">

        @if (!Request.RawUrl.ToLower().Contains("login") &&
             !Request.RawUrl.ToLower().Contains("register") &&
             !Request.RawUrl.ToLower().Contains("forgotpassword") &&
             !Request.RawUrl.ToLower().Contains("resetpassword") &&
             !Request.RawUrl.ToLower().Contains("notfound") &&
             !Request.RawUrl.ToLower().Contains("error"))
        {
            <header id="header" class="full-header">
                <div id="header-wrap">
                    <div class="container clearfix">

                        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                        <div id="logo">
                            <a href="/" class="standard-logo"><img src="/images/logo.png"></a>
                            <a href="/" class="retina-logo"><img src="/images/logo.png"></a>
                        </div>

                        <nav id="primary-menu">
                            <ul style="border-right: none;">
                                @if (!Request.IsAuthenticated)
                                {
                                    <li class="mega-menu current">
                                        <a href="/login"><div>Login</div></a>
                                    </li>
                                    <li class="mega-menu">
                                        <a href="/register"><div>Signup</div></a>
                                    </li>
                                }
                                else
                                {
                                    <li class="mega-menu">
                                        <a href="/account/logoff"><div>Logoff</div></a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        }

        @RenderBody()

        @if (!Request.RawUrl.ToLower().Contains("login") &&
             !Request.RawUrl.ToLower().Contains("register") &&
             !Request.RawUrl.ToLower().Contains("forgotpassword") &&
             !Request.RawUrl.ToLower().Contains("resetpassword") &&
             !Request.RawUrl.ToLower().Contains("error") &&
             !Request.RawUrl.ToLower().Contains("notfound"))
        {
            <footer id="footer" class="dark">
                <div id="copyrights">
                    <div class="container clearfix">

                        <div class="col_half">
                            Copyrights &copy; 2017 All Rights Reserved by rssheap. Built by <a href="https://www.maus.ba" style="color: gray;" target="_blank">MAUS d.o.o.</a><br>
                            <div class="copyright-links"><a href="/terms">Terms of Use</a> / <a href="/privacy">Privacy Policy</a> / <a href="/cookie-policy">Cookie Policy</a></div>
                        </div>

                        <div class="col_half col_last tright">
                            <div class="fright clearfix">
                                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://www.rssheap.com" class="social-icon si-small si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>

                                <a target="_blank" href="https://twitter.com/intent/tweet?text=@Url.Encode("#rssheap you subscribe to tags you are interested in (c#,java,ruby..) and we find great articles for you to read: http://rssheap.com")" class="social-icon si-small si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>

                                <a target="_blank" href="https://plus.google.com/share?url=http://www.rssheap.com" class="social-icon si-small si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>

                                <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.rssheap.com&title=RSS Reader for Developers" class="social-icon si-small si-borderless si-linkedin">
                                    <i class="icon-linkedin"></i>
                                    <i class="icon-linkedin"></i>
                                </a>
                            </div>

                            <div class="clear"></div>

                            <i class="icon-envelope2"></i>&nbsp; mail[at]rssheap.com
                        </div>

                    </div>

                </div>

            </footer>
        }

    </div>
    <div id="gotoTop" class="icon-angle-up"></div>

    @if (Request.Cookies["cookies"] == null)
    {
        <div id="cookie-notice" role="banner" class="cn-bottom wp-default" style="color: #CCC; background-color: #333; display: block;">
            <div class="cookie-notice-container">
                <span id="cn-notice-text">By continuing to browse or by clicking “Accept All Cookies”, you agree to the storing of first- and third-party cookies on your device to enhance site navigation, analyse site usage, and assist in our marketing efforts.</span>
                &nbsp;
                <a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button wp-default">Accept All Cookies</a>
                &nbsp;
                <a href="/cookie-policy/" target="_blank" id="cn-more-info" class="cn-more-info cn-button wp-default">Cookie Policy</a>
            </div>
        </div>
    }

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>

    <script type="text/javascript" src="/js/functions.js"></script>
    <script src="/js/js.cookie.js"></script>

    @Html.RenderScripts()

    <script type="text/javascript">
        $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajaxPrefilter(function (options, originalOptions) {
                if (options.type.toUpperCase() == "POST") {
                    options.data = $.param($.extend(originalOptions.data, { __RequestVerificationToken: token }));
                }
            });

            $("#cn-accept-cookie").click(function (e) {
                e.preventDefault();
                Cookies.set('cookies', 'true');
                $("#cookie-notice").fadeOut("fast");
                return false;
            });
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51717870-1', 'rssheap.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        adroll_adv_id = "LDDOSTK5IVCUTLRPGOXG7C";
        adroll_pix_id = "ETDOIHHRVZCYRFWYOLBWD5";
        (function () {
            var oldonload = window.onload;
            window.onload = function () {
                __adroll_loaded = true;
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if (oldonload) { oldonload() }
            };
        }());
    </script>

    <!-- Google Code for Visitors Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 997912516;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "b1Z9CJ22vWwQxN_r2wM";
        var google_remarketing_only = false;
                                /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/997912516/?label=b1Z9CJ22vWwQxN_r2wM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
</html>