@{
    var user = (ViewContext.Controller as MvcWeb.Controllers._BaseController).CurrentUser;
    var isPro = new PaymentService().IsProCached(CachePeriod.ForHours(6), user);
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-config" content="none" />

    @RenderSection("seo", required: true)

    <link rel="stylesheet" media="all" href="/assets/css/styles.css?ver=109" />
    <link rel="stylesheet" media="all" href="/assets/css/styles_my.css?ver=109" />
    <link rel="stylesheet" media="all" href="/assets/css/footer.css" />
    <link rel="stylesheet" media="all" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" media="all" href="/assets/css/fonts/fonts.css" />
    <link rel="stylesheet" media="all" href="/assets/css/magnific-popup.css" />


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        window.onerror = function (message, url, lineNumber) {
            $.post("json/jserror", { message: message, url: url, lineNumber: lineNumber });
            return false;
        };
    </script>

    <script type="text/javascript" src="/assets/js/checkbox.js"></script>
    <script type="text/javascript" src="/assets/js/typeahead.js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.hotkeys-0,8+.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/js.cookie.js"></script>

    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <script type="text/javascript">
        $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajaxPrefilter(function (options, originalOptions) {
                if (options.type.toUpperCase() == "POST") {
                    options.data = $.param($.extend(originalOptions.data, { __RequestVerificationToken: token }));
                }
            });

            $("#header-notice .close").click(function (e) {
                e.preventDefault();
                Cookies.set('opensource', 'true');
                $("#header-notice").fadeOut("slow");
                return false;
            });
        });

    </script>

    @RenderSection("head", required: false)
    <link rel="stylesheet" media="all" href="/assets/css/responsive-fix.css?ver=9" />
</head>

<body>
    @if (Request.Cookies["opensource"] == null)
    {
        <div id="header-notice" class="dark">
            <div class="content text-center header-notice-container copyright-links">
                rssheap goes open source - all contributions are welcome - for more information follow this
                <a target="_blank" href="https://github.com/mausba/rssheap" class="copyright-links">link</a>
            </div>
            <a title="close" class="close fa fa-times" href="#"></a>
        </div>
    }

    <div class="top-header">
        <div class="top-header-content">
            <div class="box">
                <div id="logo" class="logo">
                    <a href="/articles">
                        <img src="/assets/css/img/logo.png" />
                    </a>
                </div>
                <div class="links">
                    <a class="submit-url" href="#test-modal"><i class="fa fa-globe"></i>Have a URL?</a>
                    <a id="all-tags" href="/tags"><i class="fa fa-tags"></i>Tags</a>
                </div>
            </div>
            <div class="box al-right">
                <div class="links">
                    <form action="/articles">
                        <input id="q" type="text" name="q" placeholder="Search for articles" value="@Request["q"]" />
                        <input type="submit" style="display: none;" />
                    </form>
                    <span title="@user.FirstName" style="font-size: 12px;">
                        Hi, @user.FirstName.Shorten(30) @(isPro ? "(PRO)" : string.Empty)
                    </span>
                    <a style="margin-right: 0; padding-right: 0; border: none;" href="/account/logoff">Logoff</a>


                    <a style="margin-right: 0; padding-right: 0; border: none;" href="/account/EditProfile">Edit Profile</a>

                    @if (!isPro)
                    {
                        <a style="margin-right: 0; padding-right: 0; border: none;" href="/home/pro">Upgrade</a>
                    }

                </div>
                <div class="sm-top-links">
                    <div class="link-dropdown">
                        <div class="icon"><i class="fa fa-link"></i></div>
                        <div class="dropdown-toggle">
                            <a class="submit-url" href="#test-modal">Have a URL?</a>
                        </div>
                    </div>
                    <div class="link-dropdown">
                        <div class="icon"><i class="fa fa-search"></i></div>
                        <div class="dropdown-toggle">
                            <form action="/articles">
                                <input id="q" type="text" name="q" placeholder="Search for articles" />
                                <input type="submit" style="display: none;" />
                            </form>
                        </div>
                    </div>
                    <div class="link-dropdown">
                        <div class="icon"><a href="/tags"><i class="fa fa-tags"></i></a></div>
                    </div>
                    <div class="link-dropdown">
                        <div class="icon">@user.Reputation.FormatCount()</div>
                    </div>
                    <div class="link-dropdown">
                        <div class="icon">
                            <a href="/account/logoff"><i class="fa fa-sign-out"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    @RenderBody()
    @Html.Partial("_Footer", new ViewDataDictionary { { "cssClass", "clearfix footer" } })

    <div id="test-modal" class="mfp-hide white-popup">
        <h3>Have a url?</h3>
        <form class="clearfix" method="post" action="/article/import" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input name="url"
                   id="url-tb"
                   autocorrect="off"
                   autocapitalize="off"
                   type="text"
                   placeholder="Enter the url of the website you want to add" />

            <div style="margin: 20px 0">
                <h3>Or an OPML file? </h3>
                <input name="file" type="file" accept=".opml" />
            </div>

            <input class="button" type="submit" value="IMPORT" />
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".submit-url").magnificPopup({
                type: 'inline',
                callbacks: {
                    open: function () {
                        $("#url-tb").focus();
                    }
                }
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51717870-1', 'rssheap.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

    <script type='text/javascript'>

        var _ues = {
            host: 'rssheap.userecho.com',
            forum: '1',
            lang: 'en',
            tab_corner_radius: 5,
            tab_font_size: 20,
            tab_image_hash: 'ZmVlZGJhY2s%3D',
            tab_chat_hash: 'Y2hhdA%3D%3D',
            tab_alignment: 'right',
            tab_text_color: '#ffffff',
            tab_text_shadow_color: '#00000055',
            tab_bg_color: '#57a957',
            tab_hover_color: '#f45c5c'
        };

        (function () {
            var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
            _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
        })();

    </script>

    <script type="text/javascript">
        adroll_adv_id = "LDDOSTK5IVCUTLRPGOXG7C";
        adroll_pix_id = "ETDOIHHRVZCYRFWYOLBWD5";
        (function () {
            var oldonload = window.onload;
            window.onload = function () {
                __adroll_loaded = true;
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if (oldonload) { oldonload() }
            };
        }());
    </script>

    <script type="text/javascript">
        $(window).bind('load resize', function () {
            if ($(window).width() <= 1200) {
                $(".btn-out").click(function () {
                    var $this = $(this);
                    var $content = $(this).parent();

                    if (!/open/.test($content.attr('class'))) {
                        //$this.parents(".content").find(".left").css("top", $this.offset().top);
                        $content.toggleClass("open", true);
                    }
                });

                $(".right").click(function () {
                    if (/open/.test($(this).parent().attr('class'))) {
                        $(this).parent().toggleClass("open", false);
                        return false;
                    }
                    return true;
                });

                $(".link-dropdown .icon").click(function () {
                    if (!/open/.test($(this).parent().attr('class'))) {
                        $('.link-dropdown').toggleClass("open", false);
                        $(this).parent().toggleClass("open", true);
                    } else {
                        $(this).parent().toggleClass("open", false);
                    }
                });

            }

        });
    </script>

    <!-- Google Code for Visitors Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 997912516;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "b1Z9CJ22vWwQxN_r2wM";
        var google_remarketing_only = false;
                        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/997912516/?label=b1Z9CJ22vWwQxN_r2wM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>

</body>
</html>
